@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: #FFFFFF;
}

.hero-background {
  background-image: url(https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1400);
}

.books {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 40px;
  place-items: center;
}

img {
  /* width: 180px; */
  height: 290px;
}

.book {
  background-color: #f2f2f2;
  padding: 20px 20px 40px 20px;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.intro {
  height: 0px;
  width: 200px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgb(27, 27, 27, 0.5);
  color: white;
  transition: 0.5s;
  display: none;
}

/* p {
  font-size: 20px;
  margin: 10px;
  visibility: hidden;
  opacity: 0;
  text-align: center;
} */

.book:hover {
  cursor: pointer;
}

/* .book:hover .intro {
  height: 70px;
  bottom: 0;
  background: black;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
} */

/* .book:hover p {
  opacity: 1;
  visibility: visible;
} */
